<p>Create new student</p>

<form #f="ngForm" (ngSubmit)="submit(f)">

    <input #firstName="ngModel" minlength="3" ngModel required EnglisNameOnly type="text" name="fullName"
        placeholder="fullName (i.e Atallah Esaied)">

    <app-validation-message [control]="firstName.control"></app-validation-message>

    Welcome, {{firstName.value}}

    <input #city="ngModel" ngModel type="text" name="city" placeholder="city " EnglisNameOnly />
    <app-validation-message [control]="city.control"></app-validation-message>


    <input ngModel min="0" max="99" required type="number" name="mark" placeholder="mark">

    <button [disabled]="!firstName.valid" type="submit">Submit</button>

</form>

{{ f.value | json}}
{{ f.valid}}

{{ f.dirty}}