<form [formGroup]="myForm">

    <input formControlName="firstName">

    <app-validation-message [control]="myForm.controls['firstName']"></app-validation-message>
    <input formControlName="secondName">
    <app-validation-message [control]="myForm.controls['secondName']"></app-validation-message>

    <input formControlName="lastName">

    <app-validation-message [control]="myForm.controls['lastName']"></app-validation-message>



    <ng-container formArrayName="skills">
        <ng-container *ngFor="let skill of skills; let i = index">
            <div [formGroup]="skill">

                <input formControlName="skill">
                <input formControlName="level">
                <button (click)="removeSkill(i)">Remove</button>

            </div>
        </ng-container>
    </ng-container>


    <button (click)="addNewSkill()">Add skill</button>




    <button type="submit">Submit</button>

</form>

{{myForm.controls['firstName'].errors| json}}