/* You can add global styles to this file, and also import other style files */
a.active {
    color: red;
}


.ng-invalid {

    color: red;
}

.ng-valid {

    color: green;
}

.ng-dirty {
    font-style: italic;
}

.ng-untouched {
    font-weight: bold;
}